.card {
  position: relative;
  width: 30%;
  padding-top: 45%;
  border-radius: 1rem;
  overflow: hidden;
  max-height: 228px;
}

@media screen and (min-width: 1024px) {
  .card {
    position: relative;
    width: 12%;
    padding-top: 18%;
    border-radius: 1rem;
    overflow: hidden;
    max-height: 228px;
  }
}
